@import url("https://fonts.googleapis.com/css2?family=Public+Sans&display=swap");
* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

:root {
    --Color-azulMorado: #515BD4;
    --Color-azulTwitter: #52C3F5;
    --Color-purpleBlue: #7606C2;
    --Color-Bluegrey: #283747;
    --Color-negro: #000000;
    --Color-gris: #6b6767;
}


body {
    font-family: "Public Sans", sans-serif;
    font-size: 1.2rem;
    background-color: #f5f5f5;
    padding: 5px 5px 5px 5px;
    text-align: center;
    padding: 0;
    margin: 0;
}


.trinos_posted {
    background-color: #f5f5f5;
    padding: 20px 20px 20px 20px;
}

.trinos_article {
    background-color: white;
}

/*a partir de aca, se realiza la estructuracion del layout grid responsive para movil, tablet y pc*/


/*Vista para movil*/
@media (min-width: 270px) {
    .grid-container {
        display: grid;
        gap: 1px;
        grid-template:
            "sidebar"    140px
            "header"     20px
            "main"       390px
    }
    header h1 {
        font-family: inter;
        color: var(--Color-azulMorado); 
        text-align: center;
        font-size: 1rem;
        font-weight: bold; 
    }
    h1:hover {
        color: var(--Color-azulTwitter);
    }
    .logo_view {
        height: 80px;
    }
    .navBar_btn_home {
        margin-top: 10px;
    }
    .login_btn a {
        text-decoration: none;
        color: white;
    }
    .login_btn {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 20px;
        width: 80px;
        margin: 0;
        padding-top: 5px;
        padding-bottom: 5px;
        border: none;
        background-color: var(--Color-azulMorado);
        border-radius: 6px;
        cursor: pointer;
        font-family: 'Inter', sans-serif;
        font-size: 8px;
    }
    .login_btn:hover {
        background-color: var(--Color-azulTwitter);
    }
    .register_btn a {
        text-decoration: none;
        color: white;
    }
    .register_btn {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 20px;
        width: 80px;
        margin: 10px auto;
        margin-left: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        border: none;
        background-color: var(--Color-azulMorado);
        border-radius: 6px;
        cursor: pointer;
        font-family: 'Inter', sans-serif;
        font-size: 8px;
    }
    .register_btn:hover {
        background-color: var(--Color-azulTwitter);
    }
    h4 {
        font-size: 8px;
        color: var(--Color-azulMorado);
    }
    .developedBy {
        font-size: 7px;
        color: var(--Color-azulMorado);
    }
    .navyBird {
        height: 20px;
    }
    .footer {
        margin-top: 420px;
    }
    .header {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-area: header;
        background-color: white;
        top: 0;
    }
    .sidebar {
        grid-area: sidebar;
        background-color: white;
        top: 0;
    }
    .main {
        grid-area: main;
        background-color: #f5f5f5;
        overflow-y: scroll;
        max-height: 100%;
    }
    .profile_picture {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        padding: 7px 8px 5px 5px;
        border: 2px solid var(--Color-azulMorado);
        margin-top: 10px;
    }
    h2 {
        font-size: 12px;
        color: var(--Color-Bluegrey);
    }
    h3 {
        font-size: 9px;
        color: var(--Color-gris);
    }
    .trino_phrase{
        font-size: 10px;
        text-align: justify;
        padding: 5px 5px 5px 5px;
        margin-top: 10px;
    }
    .trino_image {
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 10px;
    }
    .trino_image img {
        max-width: 100%;
        margin: 5px auto;
    }
    .trinos_posted {
        background-color: #f5f5f5;
        padding: 20px 20px 20px 20px;
    }
    
    .trinos_article {
        background-color: white;
    }
}
/*Vista para tablet*/
@media (min-width: 600px) {
    .grid-container {
        grid-template:
            "sidebar  header"  100px
            "sidebar  main"    200px
            "sidebar  main"    290px /
            230px     auto;
    }
    header h1 {
        font-family: inter;
        color: var(--Color-azulMorado); 
        text-align: center;
        font-size: 2rem;
        font-weight: bold; 
    }
    h1:hover {
        color: var(--Color-azulTwitter);
    }
    .logo_view {
        height: 140px;
    }
    .navBar_btn_home {
        margin-top: 200px;
    }
    .login_btn a {
        text-decoration: none;
        color: white;
    }
    .login_btn {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        width: 100px;
        margin: 10px auto;
        padding-top: 5px;
        padding-bottom: 5px;
        border: none;
        background-color: var(--Color-azulMorado);
        border-radius: 6px;
        cursor: pointer;
        font-family: 'Inter', sans-serif;
        font-size: 15px;
    }
    .login_btn:hover {
        background-color: var(--Color-azulTwitter);
    }
    .register_btn a {
        text-decoration: none;
        color: white;
    }
    .register_btn {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        width: 100px;
        margin: 10px auto;
        padding-top: 5px;
        padding-bottom: 5px;
        border: none;
        background-color: var(--Color-azulMorado);
        border-radius: 6px;
        cursor: pointer;
        font-family: 'Inter', sans-serif;
        font-size: 15px;
    }
    .register_btn:hover {
        background-color: var(--Color-azulTwitter);
    }
    h4 {
        font-size: 12px;
        color: var(--Color-azulMorado);
    }
    .developedBy {
        font-size: 9px;
        color: var(--Color-azulMorado);
    }
    .navyBird {
        height: 30px;
    }
    .footer {
        margin-top: 100px;
    }
    .header {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-area: header;
        background-color: #f5f5f5;
        top: 0;
    }
    .sidebar {
        grid-area: sidebar;
        background-color: white;
        top: 0;
    }
    .main {
        grid-area: main;
        background-color: #f5f5f5;
        overflow-y: scroll;
        max-height: 100vh;
    }
    .profile_picture {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        padding: 7px 8px 5px 5px;
        border: 2px solid var(--Color-azulMorado);
    }
    h2 {
        font-size: 14px;
        color: var(--Color-Bluegrey);
    }
    h3 {
        font-size: 12px;
        color: var(--Color-gris);
    }
    .trino_phrase{
        font-size: 14px;
        text-align: justify;
        padding: 5px 5px 5px 5px;
    }
    .trino_image {
        margin-left: 5px;
        margin-right: 5px;
    }
    .trino_image img {
        max-width: 100%;
        margin: 5px auto;
    }
}


/*vista de escritorio*/
@media (min-width: 900px) {
    .grid-container {
        grid-template:
            "sidebar  main"  200px
            "header   main"    250px
            "sidebar  main"    155px /
            350px     auto;
    }
    header h1 {
        font-family: inter;
        color: var(--Color-azulMorado); 
        text-align: center;
        font-size: 2rem;
        font-weight: bold; 
    }
    h1:hover {
        color: var(--Color-azulTwitter);
    }
    .navBar_btn_home {
        margin-top: 150px;
    }
    .logo_view {
        padding-top: 20px;
        height: 100px;
    }
    .login_btn a {
        text-decoration: none;
        color: white;
    }
    .login_btn {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        width: 110px;
        margin: auto;
        padding-top: 5px;
        padding-bottom: 5px;
        border: none;
        background-color: var(--Color-azulMorado);
        border-radius: 6px;
        cursor: pointer;
        font-family: 'Inter', sans-serif;
        font-size: 12px;
    }
    .login_btn:hover {
        background-color: var(--Color-azulTwitter);
    }
    .register_btn a {
        text-decoration: none;
        color: white;
    }
    .register_btn {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        width: 110px;
        margin: 10px auto;
        padding-top: 5px;
        padding-bottom: 5px;
        border: none;
        background-color: var(--Color-azulMorado);
        border-radius: 6px;
        cursor: pointer;
        font-family: 'Inter', sans-serif;
        font-size: 12px;
    }
    .register_btn:hover {
        background-color: var(--Color-azulTwitter);
    }
    h4 {
        font-size: 20px;
        color: var(--Color-azulMorado);
    }
    .developedBy {
        font-size: 10px;
        color: var(--Color-azulMorado);
    }
    .navyBird {
        height: 40px;
    }
    .footer {
        margin-top: 182px;
        margin-bottom: 5px;
    }
    .header {
        position: fixed;
        width: 100%;
        left: 140px;
        justify-content: center;
        align-items: center;
        grid-area: header;
        background-color: #f5f5f5;
        top: 0;
    }
    .sidebar {
        position: fixed;
        width: 20%;
        grid-area: sidebar;
        background-color: white;
        top: 0;
        z-index: 5px;
    }
    .main {
        position: fixed;
        width: 80%;
        top: 42px;
        left: 272px;
        grid-area: main;
        background-color: #f5f5f5;
        overflow-y: scroll;
        width: 80%;

    }
    .profile_picture {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        padding: 7px 8px 5px 5px;
        border: 2px solid var(--Color-azulMorado);
    }
    h2 {
        font-size: 20px;
        color: var(--Color-Bluegrey);
    }
    h3 {
        font-size: 15px;
        color: var(--Color-gris);
    }
    .trino_phrase{
        font-size: 20px;
        text-align: justify;
        padding: 5px 5px 5px 5px;
    }
    .trino_image img {
        max-width: 100%;
        margin: 5px auto;
    }
}