@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --Color-azulMorado: #515BD4;
    --Color-azulTwitter: #52C3F5;
    --Color-purpleBlue: #7606C2;
    --Color-Bluegrey: #283747;
    --Color-negro: #000000;
    --Color-gris: #6b6767;
    --Color-BlancoMenta: #F5F8FA;
}


body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    background-color: #f5f5f5;
    padding: 5px 5px 5px 5px;
    text-align: center;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.new-trini-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
}

.main {
    width: 100%;
    grid-area: main;
    background-color: #f5f5f5;
    overflow-y: scroll;
    max-height: 89vh;
    padding-bottom: 20px;
}

.trinos_posted {
    background-color: #f5f5f5;
    padding: 20px 20px 0 20px;
}

.trinos_article {
    background-color: white;
    display: flex;
    justify-content: center;
    border-radius: 16px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.feed-trini-details {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.trini-detais {
    font-size: 1.5rem;
}

.trini-detais-info {
    display: inline-block;
    text-align: center;
}

.trino_date {
    font-family: 'Roboto', sans-serif;
    padding-top: 5px;
    font-size: 12px;
    color: var(--Color-gris);
}
/*
input[type="file"] {
    display: none;
}
*/
.fa-upload:hover {
    color: var(--Color-azulTwitter);
}

.editeProfile-btn:hover {
    background-color: var(--Color-azulTwitter);
    border: 1px solid var(--Color-azulTwitter);
    cursor: pointer;
}

.fa-user-pen {
    margin-right: 8px;
}

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;

}

h6 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: var(--Color-azulTwitter);
    border-radius: 3px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 0.5rem;
    color: white;
    width: 40px;
}

a {
    text-decoration: none;
    align-content: center;
}

.verPerfil {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2px;
}

/*a partir de aca, se realiza la estructuracion del layout grid responsive para movil, tablet y pc*/


/*Vista para movil*/
@media (min-width: 270px) {
    .grid-container {
        display: grid;
        gap: 1px;
        grid-template:
            "sidebar header" auto
            "sidebar main" 100%
            "sidebar main" 220px / 
            100px auto;
    }

    .profile_pictureUser {
        height: 80px;
        width: 80px;
        border-radius: 50%;
        padding: 7px 8px 5px 5px;
        border: 2px solid var(--Color-azulMorado);
    }

    header h1 {
        font-family: 'Roboto', sans-serif;
        color: var(--Color-azulMorado);
        text-align: center;
        font-size: 1rem;
        font-weight: bold;
    }

    h1:hover {
        color: var(--Color-azulTwitter);
    }

    .logo_view {
        height: 10%;
        padding-top: 20px;
    }

    .login_btn {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 25px;
        width: 80%;
        margin: 10px;
        padding: 5px 5px 5px 5px;
        border: none;
        background-color: var(--Color-azulMorado);
        border-radius: 9px;
        cursor: pointer;
        font-family: 'Roboto', sans-serif;
        font-size: 8px;
        font-weight: 500;
        text-decoration: none;
        color: white;
    }

    .login_btn:hover {
        background-color: var(--Color-azulTwitter);
    }

    .register_btn a {
        text-decoration: none;
        color: white;
    }

    .register_btn {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 20px;
        width: 80px;
        margin: 10px auto;
        margin-left: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        border: none;
        background-color: var(--Color-azulMorado);
        border-radius: 6px;
        cursor: pointer;
        font-family: 'Roboto', sans-serif;
        font-size: 8px;
    }

    .register_btn:hover {
        background-color: var(--Color-azulTwitter);
    }

    h4 {
        font-size: 8px;
        color: var(--Color-azulMorado);
    }

    .developedBy {
        font-size: 7px;
        color: var(--Color-azulMorado);
    }
    .mainUserProfile {
        width: 100%;
        grid-area: main;
        background-color: #f5f5f5;
        overflow-y: scroll;
        height: 72vh;
        padding-bottom: 10px;
        margin-top: 3px;
    }
    .mainOtherPofile {
        width: 100%;
        grid-area: main;
        background-color: #f5f5f5;
        overflow-y: scroll;
        margin-top: 5px;
        height: 62vh;
        padding-bottom: 10px;
    }
    .mainHomeUser {
        width: 100%;
        grid-area: main;
        background-color: #f5f5f5;
        overflow-y: scroll;
        max-height: 94vh;
        padding-bottom: 20px;
    }
    .navyBird {
        height: 20px;
    }
    .footer {
        margin-bottom: 75px;
    }
    .creditsTrini {
        font-size: 5px;
    }
    .header {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-area: header;
        padding: 10px 0 10px 0;
        background-color: white;
        top: 0;
    }

    .sidebar {
        display: flex;
        flex-wrap: wrap;
        place-content: space-between center;
        height: 100vh;
        position: fixed;
        width: 100px;
        grid-area: sidebar;
        background-color: white;
        top: 0;
    }

    .profile_pictureUserLogged {
        height: 90px;
        width: 90px;
        border-radius: 50%;
        padding: 7px 8px 5px 5px;
        border: 8px solid var(--Color-BlancoMenta);
        margin-top: 20px;
    }

    .profile_picture {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        padding: 4px 4px 4px 4px;
        border: 2px solid var(--Color-azulMorado);
        margin-top: 10px;
    }

    .profile_pictureUserTrino {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        border: 3px solid var(--Color-azulTwitter);
        margin-top: 10px;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    }

    h2 {
        font-size: 10px;
        color: var(--Color-Bluegrey);
    }

    h3 {
        font-size: 8px;
        color: var(--Color-gris);
    }

    .trini-detais-info p {
        font-size: 0.6rem;
    }

    .trino_image {
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 10px;
    }

    .trino_image img {
        max-width: 100%;
        margin: 5px auto;
    }

    .trini-heart {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 65px;
    }

    .trini-img-punto {
        padding-top: 10px;
        float: right;
        margin-right: 10px;
        width: 1.2rem;
        cursor: pointer;
    }

    .trini-img-punto-btn {

        float: right;
        margin-right: -15px;
        width: 1rem;
        cursor: pointer;
        border: none;
        background-color: rgba(255, 255, 255, 0);
    }

    .trino_phrase {
        font-size: 10px;
        text-align: justify;
        padding: 15px 5px 5px 5px;
    }
    .boxTrinar {
        background-color: var(--Color-BlancoMenta);
        padding: 20px 20px 0 20px;
        border-radius: 16px;
        margin-left: 19px;
        margin-right: 19px;
        margin-top: 15px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    }

    .input-trino {
        border: none;
        width: 100%;
        resize: none;
        font-size: 10px;
        line-height: 20px;
        padding: 12px 16px;
        border-radius: 16px;
        background-color: #FFFFFF;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    }

    .btn-trinar {
        margin-bottom: 10px;
        background-color: var(--Color-azulMorado);
        color: #FFFFFF;
        border: none;
        border-radius: 99px;
        font-size: 0.7rem;
        font-weight: bold;
        padding: 2px 3px;
        margin-left: 10px;
        margin-top: 11px;
        cursor: pointer;
        transition: background-color 0.2s ease-in-out;
    }

    .likeTrino {
        display: contents;
        position: relative;
        font-size: 10px;
    }

    .icon-heart {
        color: var(--Color-purpleBlue);

    }

    .fa-upload {
        color: var(--Color-azulMorado);
        font-size: 1rem;
        margin-right: 20px;
    }
    #image-upload {
        font-size: 8px;
        height: 15px;
        display: none;
    }

    .headerProfile {
        position: relative;
        padding-bottom: 5px;
        grid-area: header;
        background: linear-gradient(to bottom, var(--Color-azulMorado) 40%, var(--Color-BlancoMenta) 35%);
        padding: 20px 20px 0 20px;
        border-radius: 16px;
        margin-left: 19px;
        margin-right: 19px;
        margin-top: 15px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    }

    .editeProfile-btn {
        position: fixed;
        right: -3px;
        margin-right: 18px;
        padding-left: 7.5px;
        top: 22px;
        height: 20px;
        width: 60px;
        transform: translate(-50%, 50%);
        z-index: 1;
        background-color: var(--Color-purpleBlue);
        color: white;
        border-radius: 10px;
        border: 1px solid var(--Color-purpleBlue);
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
        align-content: center;
    }

    .editeProfile-btn i {
        font-size: 0.5rem;
        font-style: normal;
    }

    .allForms {
        background-color: var(--Color-gris);
        position: relative;
        height: 100vh;
        width: 100vw;
        justify-content: center;
        align-items: center;
    }

    .form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px;
        background-color: #fff;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        transition: all 0.3s ease;
        height: 100vh;
    }

    .logo_trini {
        height: 90px;
        margin-bottom: 60px;
    }

    .submitBtn {
        padding: 10px 20px;
        background-color: var(--Color-azulMorado);
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    .formEditProfile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 50px;
        background-color: white;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        transition: all 0.3s ease;
        height: 70vh;
        width: 70vw;
        color: var(--Color-purpleBlue);

    }

    .label {
        margin-bottom: 10px;
        align-items: left;
    }

    .input {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 200px;
        margin-bottom: 30px;
        transition: all 0.3s ease;
    }

    .formEditProfile {
        height: 70vh;
        width: 60vw;
    }
    .modal-content {
        background-color: #fefefe;
        border: 1px solid #888;
        border-radius: 5px;
        width: 250px;
        height: 140px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 26px;
    }

    .modal-content p {
        font-size: 12px;
        color: var(--Color-purpleBlue);
    }

    .modal-buttons {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .modal-buttons button {
        background-color: var(--Color-azulMorado);
        color: white;
        border: none;
        border-radius: 5px;
        padding: 10px;
        cursor: pointer;
    }

    .modalBtn-cerrar {
        text-align: center;
        margin-right: 10px;
        width: 4rem;
    }

    .modalBtn-Si {
        text-align: center;
        margin-right: 10px;
        width: 2.3rem;
    }

    .modalBtn-No {
        text-align: center;
        margin-left: 10px;
    }

}

/*Vista para tablet*/
@media (min-width: 600px) {
    .grid-container {
        grid-template:
            "sidebar header" auto
            "sidebar main" 100%
            "sidebar main" 220px / 170px auto;
    }

    .profile_pictureUser {
        height: 100px;
        width: 100px;
        border-radius: 50%;
        padding: 7px 8px 5px 5px;
        border: 2px solid var(--Color-azulMorado);
    }

    header h1 {
        font-family: 'Roboto', sans-serif;
        color: var(--Color-azulMorado);
        text-align: center;
        font-size: 1.5rem;
        font-weight: bold;
    }

    h1:hover {
        color: var(--Color-azulTwitter);
    }

    .logo_view {
        height: 90px;
    }

    .login_btn {
        height: 30px;
        width: 110px;
        font-size: 12px;
        font-weight: 500;
        margin: 18px;
    }

    .register_btn a {
        text-decoration: none;
        color: white;
    }

    .register_btn {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        width: 100px;
        margin: 10px auto;
        padding-top: 5px;
        padding-bottom: 5px;
        border: none;
        background-color: var(--Color-azulMorado);
        border-radius: 6px;
        cursor: pointer;
        font-family: 'Roboto', sans-serif;
        font-size: 10px;
    }

    .register_btn:hover {
        background-color: var(--Color-azulTwitter);
    }

    h4 {
        font-size: 12px;
        color: var(--Color-azulMorado);
    }

    .developedBy {
        font-size: 9px;
        color: var(--Color-azulMorado);
    }

    .navyBird {
        height: 30px;
    }
    .mainHomeUser {
        width: 100%;
        grid-area: main;
        background-color: #f5f5f5;
        overflow-y: scroll;
        max-height: 100vh;
        padding-bottom: 20px;
    }
    .mainUserProfile{
        width: 100%;
        grid-area: main;
        background-color: #f5f5f5;
        overflow-y: scroll;
        height: 65vh;
        padding-bottom: 10px;
        margin-top: 3px;
    }
    .mainOtherPofile {
        width: 100%;
        grid-area: main;
        background-color: #f5f5f5;
        overflow-y: scroll;
        margin-top: 5px;
        height: 64vh;
        padding-bottom: 10px;
    }
    .sidebar {
        width: 170px;
    }
    .footer {
        margin-bottom: 10px;
    }
    .creditsTrini {
        font-size: 0.5rem;
    }

    .profile_pictureUserLogged {
        height: 120px;
        width: 120px;
        ;
    }

    .profile_picture {
        height: 50px;
        width: 50px;
        padding: 1px 6px 5px 5px;
    }

    .profile_pictureUserTrino {
        height: 80px;
        width: 80px;
        border-radius: 50%;
        border: 4px solid var(--Color-azulTwitter);
        margin-top: 10px;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    }

    h2 {
        font-size: 14px;
    }

    h3 {
        font-size: 12px;
    }

    .trino_phrase {
        font-size: 0.8rem;
    }

    .input-trino {
        font-size: 14px;
    }

    .btn-trinar {
        font-size: 1rem;
        margin-top: 6px;
    }

    .trini-img-punto-btn {
        float: right;
        margin-top: 9px;
        margin-right: -10px;
        width: 2rem;
        cursor: pointer;
        border: none;
        background-color: rgba(255, 255, 255, 0);
    }

    .likeTrino {
        font-size: 1rem;
    }

    .fa-upload {
        font-size: 1.5rem;
        margin-right: 70px;
        top: 0;
    }

    .headerProfile {
        position: relative;
        padding-bottom: 5px;
        grid-area: header;
        background: linear-gradient(to bottom, var(--Color-azulMorado) 40%, var(--Color-BlancoMenta) 35%);
        border-radius: 16px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
        margin-left: 18px;
        margin-right: 35px;
        margin-top: 10px;
    }

    .editeProfile-btn {
        height: 20px;
        width: auto;
        right: 18px;
        top: 24px;
        padding-left: 7px;
        padding-bottom: 5px;
    }

    .editeProfile-btn i {
        font-size: 0.5rem;
        text-align: center;
    }

    .allForms {
        background-color: var(--Color-gris);
        position: relative;
        height: 100vh;
        width: 100vw;
        justify-content: center;
        align-items: center;
    }

    .form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px;
        background-color: #fff;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        transition: all 0.3s ease;
        height: 100vh;
    }

    .submitBtn {
        padding: 10px 20px;
        background-color: var(--Color-azulMorado);
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    .logo_trini {
        height: 120px;
        margin-bottom: 100px;
    }

    .formEditProfile {
        padding: 100px;
        height: 60vh;
    }

    .label {
        margin-bottom: 10px;
        align-items: left;
    }

    .input {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 250px;
        margin-bottom: 20px;
        transition: all 0.3s ease;
    }
    .formEditProfile {
        height: 70vh;
        width: 40vw;

    }
    .modal-content {
        background-color: #fefefe;
        border: 1px solid #888;
        border-radius: 5px;
        width: 300px;
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }

    .modal-content p {
        font-size: 18px;
        margin-bottom: 20px;
        color: var(--Color-purpleBlue);
    }

    .modal-buttons {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .modal-buttons button {
        background-color: var(--Color-azulMorado);
        color: white;
        border: none;
        border-radius: 5px;
        padding: 10px;
        cursor: pointer;
    }

    .modalBtn-Si {
        text-align: center;
        margin-right: 10px;
        width: 2.7rem;
    }

    .modalBtn-No {
        text-align: center;
        width: 2.7rem;
        margin-left: 10px;
    }
}


/*vista de escritorio*/
@media (min-width: 900px) {
    .grid-container {
        display: grid;
        gap: 1px;
        grid-template:
            "sidebar header" auto
            "sidebar main" 100%
            "sidebar main" 220px / 230px auto;
    }

    header h1 {
        font-family: 'Roboto', sans-serif;
        color: var(--Color-azulMorado);
        text-align: center;
        font-size: 2rem;
        font-weight: bold;
    }

    h1:hover {
        color: var(--Color-azulTwitter);
    }

    .navBar_btn_home {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        justify-content: space-between;
    }

    .logo_view {
        padding-top: 20px;
        height: 100px;
    }

    .login_btn {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        width: 110px;
        margin: 11px;
        padding-top: 5px;
        padding-bottom: 5px;
        border: none;
        background-color: var(--Color-azulMorado);
        border-radius: 6px;
        cursor: pointer;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 12px;
        text-decoration: none;
        color: white;
    }

    .login_btn:hover {
        background-color: var(--Color-azulTwitter);
    }

    .register_btn a {
        text-decoration: none;
        color: white;
    }

    .register_btn {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        width: 110px;
        margin: 10px auto;
        padding-top: 5px;
        padding-bottom: 5px;
        border: none;
        background-color: var(--Color-azulMorado);
        border-radius: 6px;
        cursor: pointer;
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
    }

    .register_btn:hover {
        background-color: var(--Color-azulTwitter);
    }

    h4 {
        font-size: 20px;
        color: var(--Color-azulMorado);
    }

    .developedBy {
        font-size: 10px;
        color: var(--Color-azulMorado);
    }

    .navyBird {
        height: 40px;
    }

    .footer {
        margin-bottom: 10px;
    }
    .creditsTrini {
        font-size: 0.5rem;
    }

    .header {
        padding: 15px 0 15px 0;
    }

    .sidebar {
        width: 230px;
    }

    .mainPofile {
        width: 100%;
        grid-area: main;
        background-color: #f5f5f5;
        overflow-y: scroll;
        margin-top: 5px;
        height: 61vh;
        padding-bottom: 10px;
    }
    .mainOtherPofile {
        width: 100%;
        grid-area: main;
        background-color: #f5f5f5;
        overflow-y: scroll;
        margin-top: 5px;
        height: 58vh;
        padding-bottom: 10px;
    }
    .mainHomeUser {
        width: 100%;
        grid-area: main;
        background-color: #f5f5f5;
        overflow-y: scroll;
        max-height: 100vh;
        padding-bottom: 20px;
    }
    .mainUserProfile{
        width: 100%;
        grid-area: main;
        background-color: #f5f5f5;
        overflow-y: scroll;
        height: 58.5vh;
        padding-bottom: 10px;
        margin-top: 3px;
    }

    .profile_pictureUser {
        height: 100px;
        width: 100px;
        border-radius: 50%;
        padding: 7px 8px 5px 5px;
        border: 2px solid var(--Color-azulMorado);
    }

    .profile_pictureUserLogged {
        height: 150px;
        width: 150px;
    }

    .profile_pictureUserTrino {
        height: 80px;
        width: 80px;
        border-radius: 50%;
        border: 4px solid var(--Color-azulTwitter);
        margin-top: 10px;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    }

    .userTrini {
        font-size: 20px;
        color: var(--Color-Bluegrey);
    }

    .nameTrini {
        font-size: 16px;
        color: var(--Color-gris);
    }

    h2 {
        font-size: 16px;
    }

    h3 {
        font-size: 14px;
    }

    .trini-detais-info p {
        font-size: 1rem;
    }

    .trini-handler {
        font-size: 10px;
    }

    .trino_image img {
        width: 100vw;
        margin: 10px auto;
    }

    .trini-heart {
        display: block;
        margin-left: auto;
        margin-right: auto;
        cursor: pointer;
    }

    .editeProfile-btn {
        height: 30px;
        width: auto;
        right: 10px;
        top: 23px;
        padding-top: 3px;
        padding-right: 1px;
    }

    .editeProfile-btn i {
        font-size: 10px;
    }

    /*CSS DEL FORMULARIO*/

    .allForms {
        background-color: var(--Color-gris);
        position: relative;
        height: 100vh;
        width: 100vw;
        justify-content: center;
        align-items: center;
    }

    .form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px;
        background-color: #fff;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        transition: all 0.3s ease;
        height: 100vh;
    }

    .form:hover {
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    }

    .label {
        margin-bottom: 10px;
        align-items: left;
    }

    .input:hover,
    .input:focus {
        border-color: #555;
    }

    .submitBtn {
        padding: 10px 20px;
        background-color: var(--Color-azulMorado);
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    .submitBtn:hover {
        background-color: var(--Color-azulTwitter);
    }

    .logo_trini {
        height: 150px;
    }

    .input-trino {
        font-size: 1em;
    }

    .btn-trinar {
        border-radius: 10px;
        font-size: 16px;
        margin-top: 12px;
    }

    .btn-trinar:hover {
        background-color: var(--Color-azulTwitter);
    }


    /*CSS PARA EL MODAL*/


    .formEditProfile {
        height: 70vh;
        width: 40vw;

    }

    .modalBtn-Si:hover {
        background-color: var(--Color-azulTwitter);
        color: white;
    }

    .modalBtn-No:hover {
        background-color: var(--Color-azulTwitter);
        color: white;
    }

    .modal-buttons button:hover {
        opacity: 0.8;
    }



    /*CSS DEL LIKE*/

    .fixed-details {
        position: fixed;
        bottom: 0;
        background-color: var(--bg-body);
        border-top: 1px solid var(--border-color);
        padding: 1em;
        width: 100%;
    }

    .likeTrino {
        display: contents;
        position: relative;
        font-size: 1rem;
    }

    .fa fa-heart {
        color: gray;

    }

}