html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Iceland', cursive;
  font-family: 'Inter', sans-serif
}

.layout {
  display: grid;
  grid-template-columns: 1.5fr 4fr 2fr;
  margin: 0 auto;
}

.layout__right-sidebar {
  position: fixed;
}

.brand {
  width: 130px;
  display: block;
  margin: auto;
}

.sidebar-menu {
  position: fixed;
  margin-top: 120px;
  padding-left: 50px;
}

.sidebar-menu_item {
  font-size: 19px;
  color: black;
  display: flex;
  align-items: center;
  font-weight: 700;
  padding: 10px;
}

.sidebar-menu_item:hover {
  color: #52C3F5;
  cursor: pointer;
}

.sidebar-menu_item-active {
  color: #52C3F5;
}

.sidebar-menu_item-icon {
  height: 26px;
  margin-right: 20px;
}
.menu__btn {
  margin-top: 40px;
  padding: 15px 70px;
  border-radius: 20px;
  border: none;
  outline: none;
  color: #E5E7E9;
  background: #515BD4;
  transition: .3s linear;
  cursor: pointer;
  font-size:1vw;
}

.menu__btn:hover {
  background: rgba(32, 166, 250, 0.6);
}

.usuario {
  padding-top: 40px;
}
.return {
  height: 40px;
  background-color: gray;
}

.return__content {
  padding-left: 20px;
  padding-top: 5px;
}

.return__link-img {
  width: 4%;
}

.return__link {
  margin-left: 5px;
  text-decoration: none;
  color: #52C3F5;
  font-size: 16px;
  font-weight: 900;
  display: flex;
  align-items: center;
  transition: .3s linear;
}

.profile {
  height: 400px;
  background-color: #52C3F5;
  background: linear-gradient(to bottom, #515BD4 50%, transparent 50%);
  border-bottom: 2px solid #D9D9D9;
}

.profile-cards {
  position: relative;
  padding-top: 70px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.profile__img {
  width: 20%;
  height: 20%;
  border-radius: 50%;
  background-color: #D9D9D9;
  border: 10px solid #fff;
}

.profile__btn {
  margin-top: 20px;
  padding: 10px 50px;
  border-radius: 20px;
  border: none;
  outline: none;
  color: #E5E7E9;
  background: #283747;
  transition: .3s linear;
  cursor: pointer;
}

.profile__btn:hover {
  background: #515BD4;
}

.profile__cards-usario {
  text-align: center;
  padding-top: 15px;
}
.mis_trinit{
  text-align: center;
  color: #52C3F5;
  position: relative;
}
.mis_trinit::after {
  content: "";
  position: absolute;
  bottom: 25px;
  left: 0;
  width: 5%;
  height: 5px;
  background-color: #52C3F5;
  right: 0;
  margin: 0 auto;
  display: block;
}
.trini {
  display: flex;
  border-bottom: 1px solid #e6ecf0;
  margin-bottom: 2px;
  padding: 10px 15px;
}

.trini:hover {
  background: rgba(0, 0, 0, 0.03);
  cursor: pointer;
}

.trini__author-logo {
  width: 49px;
  height: 49px;
  border-radius: 50%;
  margin-right: 10px;
}

.trini__header {
  display: flex;
}

.trini__author-name {
  font-size: 15px;
  font-weight: 700;
  color: #000000;
  margin-right: 5px;
}

.trini__author-slug {
  color: #283747;
  font-size: 15px;
}

.trini__publish-time {
  margin-left: 5px;
  color: #808080;
}
.trini_punto{
height: 50px;
margin-left: auto;
}
.trini_punto img{
  height: 40px;
}

.trini__image {
  width: 100%;
  border-radius: 15px;
  margin-top: 10px;
}
.heart_trinit{
  text-align: center;
  position: relative;
}
.heart .heart-active{
  color: #F90202
  ;
}
